.aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1px);
    padding: 16px;
    overflow-y: auto;
    background: #fff;
    border-right: 1px solid #eaecee;
    transform: translateX(-265px);
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.asideActive {
    composes: aside;
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
}

.container {
    width: 230px;
    font-weight: 700;
}

.name {
    font-size: 26px;
    color: red;
}

.list {
    display: flex;
    justify-content: space-around;
    /* width: 239px; */
    /* background: #ffffff; */
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #eaecee;
    cursor: pointer;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 44px;
}

.active {
    composes: item;
    background: #f2faf5;
}

.text {
    margin-top: 70px;
    width: 230px;
}

.text p {
    margin-top: 10px;
    text-wrap: wrap;
}
