@import "modern-normalize/modern-normalize.css";
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@400,401,500,600,700&display=swap");

body {
    margin: 0;

    font-family: "General Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    line-height: 1.25;

    scrollbar-width: thin;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

canvas {
    height: 100vh;
    width: 100%;
    display: block;
}

input:-inter input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}
